$block: 'page-header';

.#{$block} {
    display: flex;
    align-items: center;
    height: 70px;
    padding: 0 30px;
    justify-content: space-between;


    &--grayed {
        background: rgba(0,0,0,0.7);
    }

    &__logo {
        display: flex;
        align-items: center;
    
    }

    &__aside {
        display: flex;
        align-items: center;
    }
}