<header class="page-header page-header--grayed">
  <a href="#" class="page-header__logo" aria-label="site-logo">
    <app-icon [name]="'logo'" aria-hidden="true"></app-icon>
    <app-text [padded]="'xs'" [uppercased]="true" [color]="'white'"
      >learn</app-text
    >
  </a>

  <ng-container *ngIf="isAuthenticated()">
    <section>
      <app-button [view]="'circle'" [uppercased]="true" (click)="showAddingDialog()">
        Add me
      </app-button>
    </section>

    <section class="page-header__aside" >
      <app-menu-profile (logout)="logout($event)"></app-menu-profile>
    </section>
  </ng-container>
</header>
