<app-body>
  <app-search-bar (inputChanges)="updateSearch($event)"></app-search-bar>

  <app-bread-crumbs></app-bread-crumbs>

  <ng-container>
    <app-content-box>
      <app-text [bold]="true">
        <span>{{ 'COUNT' | translate }}: </span>
        <span *ngIf="courses?.length"> {{ courses.length }} </span>
      </app-text>
    </app-content-box>

    <app-course-list
      [items]="courses"
      *ngIf="courses?.length"
      (addMore)="addMoreCourses()"
      (remove)="showRemovingDialog($event)"
      (edit)="showEditingDialog($event)"
    ></app-course-list>
    <app-content-box
      [align]="'both'"
      [size]="'md'"
      [borderType]="'silver'"
      *ngIf="!courses?.length"
    >
      <app-text [uppercased]="true" [bold]="true">
          {{ 'NO_COURSES' | translate }}
      </app-text>
    </app-content-box>
  </ng-container>

  <app-loader-overlay></app-loader-overlay>
</app-body>
