$block: 'btn';

.#{$block} {
    display: inline-block;
    padding: 5px 15px;
    cursor: pointer;

    &-default {
        color: white;
        background: transparent;
        text-transform: uppercase;
        border: 1px solid white;

        transition: 1s background;
        will-change: background;

        &:hover {
            transition: 1s background, 1s color;
            background: white;
            color: black;
        }
    }

    &-lime {
        color: white;
        background: #5ccf0c;
        border: 1px solid white;
        text-transform: uppercase;

        &:hover {
            border: 1px solid green;
        }


        &:active {
            transform: scale(0.9);
        }
    }

    &-full {
        width: 100%;
    }

    &-size {
        &--md {
            padding: 10px 15px;
        }
    }
}