<section class="card-container">
  <ul class="course-list">
    <ng-container *ngFor="let course of items">
      <li
        class="course-list__item"
        [ngClass]="getCourseClasses(course)"
        [appDateStatus]="course.date"
      >
        <section class="course-list__item__preview">
          <div class="course-list-image">((IMAGE_STUB))</div>
        </section>

        <section class="course-list__item__content">
          <app-content-box [align]="'vertical'">
            <app-text [bold]="true">
              {{ course.name | uppercase }}
            </app-text>

            <app-icon [name]="'favorite'" *ngIf="course.isTopRated"></app-icon>
          </app-content-box>

          <p> {{ course.description }} </p>
          <p> Duration: {{ course.date | date: 'fullDate' }} </p>
          <p> Length: {{ course.length | durationNormalizer }} </p>
        </section>

        <section class="course-list__controls">
           <a mat-raised-button color="primary" [routerLink]="['/courses', course.id]">Edit</a>
          <app-button [view]="'lime'" (click)="onRemove(course)">Remove</app-button>
        </section>
      </li>
    </ng-container>
  </ul>

  <section class="card-container-options">
    <app-button [view]="'lime'" [size]="'md'" (click)="onMore()">Next (current items replace on next 10)...</app-button>
  </section>
</section>
