<section class="card-container">
  <ul class="course-list">
    <ng-container *ngFor="let course of (items | orderByCourse: searchBy : 'title')">
      <li
        class="course-list__item"
        [ngClass]="getCourseClasses(course)"
        [appDateStatus]="course.creationDate"
      >
        <section class="course-list__item__preview">
          <div class="course-list-image">((IMAGE_STUB))</div>
        </section>

        <section class="course-list__item__content">
          <app-content-box [align]="'vertical'">
            <app-text [bold]="true">
              {{ course.title | uppercase }}
            </app-text>

            <app-icon [name]="'favorite'" *ngIf="course.topRated"></app-icon>
          </app-content-box>

          <p> {{ course.description }} </p>
          <p> {{ course.creationDate | date: 'fullDate' }} </p>
          <p> {{ course.duration | durationNormalizer }} </p>
        </section>

        <section class="course-list__controls">
           <a mat-raised-button color="primary" [routerLink]="['/courses', course.id]">Edit</a>
          <app-button [view]="'lime'" (click)="onRemove(course)">Remove</app-button>
        </section>
      </li>
    </ng-container>
  </ul>

  <section class="card-container-options">
    <app-button [view]="'lime'" [size]="'md'">More...</app-button>
  </section>
</section>
