<app-body>
  <form class="login-form" [formGroup]="loginForm" (ngSubmit)="submitForm()">
    <p>
        {{error}}
    </p>
    <mat-form-field class="login-form__control">
      <input
        matInput
        [placeholder]="'ENTER_YOUR_EMAIL' | translate"
        formControlName="email"
        required
      />
      <mat-error *ngIf="loginForm.controls.email.invalid">{{
        getEmailErrorMsg()
      }}</mat-error>
    </mat-form-field>

    <mat-form-field class="login-form__control">
      <input
        matInput
        [placeholder]="'ENTER_YOUR_PASSWORD' | translate"
        type="password"
        formControlName="password"
        required
      />
      <mat-error *ngIf="loginForm.controls.password.invalid">{{
        getPasswordErrorMsg()
      }}</mat-error>
    </mat-form-field>

    <div class="login-form__dispatcher">
      <button mat-raised-button color="primary" type="submit">
        {{'LOGIN' | translate}}
      </button>
    </div>
  </form>

  <app-loader-overlay></app-loader-overlay>
</app-body>
