<app-body>
  <app-search-bar (inputChanges)="updateSearch($event)"></app-search-bar>

  <app-bread-crumbs [items]="routes"></app-bread-crumbs>

  <ng-container>
    <app-course-list [items]="courses" [searchBy]="searchBy" *ngIf="courses.length"></app-course-list>
    <app-content-box
      [align]="'both'"
      [size]="'md'"
      [borderType]="'silver'"
      *ngIf="!courses.length"
    >
      <app-text [uppercased]="true" [bold]="true">
        no data, feel free to add new course
      </app-text>
    </app-content-box>
  </ng-container>
</app-body>
