$block: 'bread-crumbs';

.#{$block} {
    padding: 10px 0;

    &__item {
        display: inline-block;

        &:nth-child(n+2) {
            &:before {
                content: '/';
                font-weight: bold;
                display: inline-block;
            }
        }

        &--labeled {
            background: white;
            padding: 5px 15px;
            border: 1px solid;
        }
    }

   
}