$block: 'menu-profile';

.#{$block} {
    display: flex;
    align-items: center;
    min-width: 160px;
    justify-content: space-between;

    &-nav {
        position: relative;
        cursor: pointer;
        
        &__logo {
            border-radius: 50%;
        }
    }
}