<header class="page-header page-header--grayed">
  <a href="#" class="page-header__logo" aria-label="site-logo">
    <app-icon [name]="'logo'" aria-hidden="true"></app-icon>
    <app-text [padded]="'xs'" [uppercased]="true" [color]="'white'"
      >learn</app-text
    >
  </a>
  
  <app-lang-switcher-container></app-lang-switcher-container>
  <ng-container *ngIf="isAuthenticated && canAddCourse()">
    <section>
      <a routerLink="/courses/new">
        <app-button [view]="'circle'" [uppercased]="true">
          {{'ADD_ME' | translate}}
        </app-button>
      </a>
    </section>

    <section class="page-header__aside">
      <app-text [padded]="'xs'" [uppercased]="true" [color]="'white'">
        {{ 'WELCOME' | translate:{name: userName} }}
      </app-text>
      <app-menu-profile (logout)="logout($event)"></app-menu-profile>
    </section>
  </ng-container>
</header>
