<app-body>
  <app-bread-crumbs></app-bread-crumbs>
  <div class="course-edit-page">
    <h1 class="course-edit-page__title">Add/Edit course</h1>

    <form
      class="course-edit-page-form"
      [formGroup]="courseGroupForm"
      (ngSubmit)="onDone($event)"
    >
      <mat-form-field class="course-edit-page-form__control">
        <input matInput placeholder="name" formControlName="name" required />
        <mat-error *ngIf="formControls.name.invalid">
          Invalid field
        </mat-error>
      </mat-form-field>

      <mat-form-field class="course-edit-page-form__control">
        <input
          matInput
          placeholder="description"
          formControlName="description"
          required
        />
        <mat-error *ngIf="formControls.description.invalid">
          Invalid field
        </mat-error>
      </mat-form-field>

      <mat-form-field class="course-edit-page-form__control">
        <input
          matInput
          [matDatepicker]="datePicker"
          formControlName="date"
          placeholder="Choose a date"
          required
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="datePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #datePicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="course-edit-page-form__control">
        <input
          matInput
          [placeholder]="durationPlaceholder"
          formControlName="length"
          required
        />
        <mat-error *ngIf="formControls.length.invalid">
          Invalid field
        </mat-error>
      </mat-form-field>

      <mat-form-field class="course-edit-page-form__control">
        <app-label-list></app-label-list>
      </mat-form-field>

      <div class="course-edit-page-form__control">
        <mat-checkbox formControlName="isTopRated"> Top rated </mat-checkbox>
      </div>

      <div class="course-edit-page__resolvers">
        <a mat-button routerLink="/courses">Cancel</a>

        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="courseGroupForm.invalid"
        >
          Done
        </button>
      </div>
    </form>
  </div>

  <app-loader-overlay></app-loader-overlay>
</app-body>
