<app-body>
  <app-bread-crumbs></app-bread-crumbs>
  <div class="course-edit-page">
    <h1 class="course-edit-page__title">Add/Edit course</h1>

    <form
      class="course-edit-page-form"
      [formGroup]="courseGroupForm"
      (ngSubmit)="onDone($event)"
    >

      <mat-form-field class="course-edit-page-form__control">
        <input matInput placeholder="name" formControlName="name" required />
        <mat-error *ngIf="formControls.name.invalid">
            {{ 'INVALID_FIELD' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="course-edit-page-form__control">
        <input
          matInput
          placeholder="description"
          formControlName="description"
          required
        />
        <mat-error *ngIf="formControls.description.invalid">
            {{ 'INVALID_FIELD' | translate }}
        </mat-error>
      </mat-form-field>

      <section class="course-edit-page-form__control">
        <app-course-edit-date-period-control
          formControlName="date"
        ></app-course-edit-date-period-control>
        <mat-error
          *ngIf="formControls.date.touched && formControls.date.invalid"
        >
        {{formControls.date.getError('datePeriodError')}}
        </mat-error>
      </section>

      <section class="course-edit-page-form__control">
        <app-course-edit-length-control
          formControlName="length"
        ></app-course-edit-length-control>
        <mat-error
          *ngIf="formControls.length.touched && formControls.length.invalid"
        >
        {{formControls.length.getError('lengthError')}}
        </mat-error>
      </section>

      <section class="course-edit-page-form__control">
        <app-course-edit-authors-control
          formControlName="authors"
          [selectedAuthorIds]="selectedAuthorIds"
        ></app-course-edit-authors-control>
        <mat-error
          *ngIf="formControls.authors.touched && formControls.authors.invalid"
        >
          {{formControls.authors.getError('authorControlError')}}
        </mat-error>
      </section>

      <div class="course-edit-page-form__control">
        <mat-checkbox formControlName="isTopRated">
            {{ 'TOP_RATED' | translate }}
        </mat-checkbox>
      </div>

      <div class="course-edit-page__resolvers">
        <a mat-button routerLink="/courses">
          {{ 'CANCEL' | translate }}
        </a>

        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="courseGroupForm.invalid"
        >
        {{ 'DONE' | translate }}
        </button>
      </div>
    </form>
  </div>

  <app-loader-overlay></app-loader-overlay>
</app-body>
