<app-body>

  <form class="login-form" [formGroup]="loginForm" (ngSubmit)="submitForm()">
      <div>
          <p>User: d@d.ru</p>
          Password: <strong>123</strong>
      </div>
      
    <mat-form-field class="login-form__control">
      <input matInput placeholder="Enter your email" formControlName="email" required>
      <mat-error *ngIf="loginForm.controls.email.invalid">{{getEmailErrorMsg()}}</mat-error>
    </mat-form-field>

    <mat-form-field class="login-form__control">
      <input matInput placeholder="Enter your password" formControlName="password"   required>
      <mat-error *ngIf="loginForm.controls.password.invalid">{{getPasswordErrorMsg()}}</mat-error>
    </mat-form-field>

    <div class="login-form__dispatcher">
      <button mat-raised-button color="primary">Login</button>
    </div>

  </form>
</app-body>
