<header><h1 mat-dialog-title>Add course</h1></header>

<div class="course-edit-dialog" mat-dialog-content>
  <form
    class="course-edit-dialog-form"
    [formGroup]="courseGroupForm"
    (ngSubmit)="onFormSubmit()"
  >
    <mat-form-field class="course-edit-dialog-form__control">
      <input matInput placeholder="title" formControlName="title" required />
      <mat-error *ngIf="formControls.title.invalid">{{
        getCommonErrorMsg(formControls.title)
      }}</mat-error>
    </mat-form-field>

    <mat-form-field class="course-edit-dialog-form__control">
      <input
        matInput
        placeholder="description"
        formControlName="description"
        required
      />
      <mat-error *ngIf="formControls.description.invalid">{{
          getCommonErrorMsg(formControls.description)
      }}</mat-error>
    </mat-form-field>

    <mat-form-field class="course-edit-dialog-form__control">
        <input matInput [matDatepicker]="date" formControlName="date" placeholder="Choose a date" required>
    </mat-form-field>

    <mat-form-field class="course-edit-dialog-form__control">
      <input
        matInput
        [placeholder]="Duration | durationNormalizer"
        formControlName="duration"
        required
      />
      <mat-error *ngIf="formControls.duration.invalid">{{
          getCommonErrorMsg(formControls.duration)
      }}</mat-error>
    </mat-form-field>

    <div class="course-edit-dialog-form__control">
        <mat-checkbox
          formControlName="topRated"
        >
        Top rated
      </mat-checkbox>

      </div>


    <div mat-dialog-actions>
      <button mat-button [mat-dialog-close]="true">Cancel</button>
      <button mat-button type="submit">Done</button>
    </div>
  </form>
</div>
<footer></footer>
