<section class="menu-profile">
  <section class="menu-profile-nav">
    <section class="menu-profile-nav__logo">
      <app-icon [name]="'user-placeholder'"></app-icon>
    </section>

    <ul class="menu-profile-list menu-profile-list--anim menu-profile-list--pretty">
      <li class="menu-profile-list__item">Hello!</li>
      <li class="menu-profile-list__item">I'm here!</li>
    </ul>
  </section>

  <section class="menu-profile-control">
    <app-button [view]="'default'">logout</app-button>
  </section>
</section>